@model IEnumerable<CodeShopWarehouse.Entities.IOrder>

@{
    ViewData["Title"] = "Index";
}

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Processed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProcessedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Processed)
                    </td>    
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessedDate)
                    </td>
                    <td>
                        @using (Html.BeginForm("ProcessOrder", "OrdersView", item.Id, FormMethod.Post))
                        {
                            <input hidden value="@item.Id" name="id" />
                            <button type="submit" disabled="@(item.Processed)">Proccess</button>  
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
