@model IEnumerable<CodeShopWarehouse.Entities.IOrder> 

@{
    ViewBag.Title = "title";
    Layout = null;
}

<h2>title</h2>
<table class="table">
<thead>
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Processed)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ProductId)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ProductStock)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.OrderType)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ProcessedDate)
    </th>
    <th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Processed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcessedDate)
        </td>

    </tr>
    }  
    </tbody>
</table>